# System Files
.DS_Store
Thumbs.db
*.log

# IDEs
.idea
.vscode
*.sublime-project
*.sublime-workspace

# Backend (Laravel)
backend/vendor/
backend/node_modules/
backend/public/hot
backend/public/storage
backend/storage/*.key
backend/.env
backend/.env.backup
backend/.env.production
backend/.phpunit.result.cache
backend/storage/logs/*.log
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*

# Frontend (Vue/Vite)
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
